#============= toolbox ==============
allow toolbox init:fifo_file { write read };
allow toolbox init:netlink_route_socket { read write };
allow toolbox init:netlink_socket { read write };
allow toolbox init:unix_stream_socket { read write };
